body {
  background-color: #f7f4f2;
}

.container {
  perspective: 1000px;
  width: 120vh;
  margin-top: 1rem;
}

.wrap {
  text-align: center;
  line-height: 1;
}

.pairs-counter {
  float: right;
  font-size: 1.3rem;
  color: #fff;
}

.memory-card {
  display: inline-block;
  position: relative;
  transition: .4s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  height: 14vh;
  width: 14vh;
  margin: 5px;
}

.memory-card.flip {
  transform: rotateY(0deg);
}

.memory-card.flip.disabled {
  transition: opacity 1s ease 1s;
  opacity: 0;
}

.navbar {
  border-radius: 0;
}

.back {
  transform: rotateY(180deg);
  background-image: url(/assets/img/back.png);
  background-position: center;
  background-size: cover;
}

.front {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  padding: 10px;
  z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.front, .back {
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute;
  text-align: left;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 5px 15px -2px rgba(0,0,0,0.2),0 1px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 5px 15px -2px rgba(0,0,0,0.2),0 1px 10px 0 rgba(0,0,0,0.12);
}

.bg-faded {
    background-color: #ff5252!important;
    font-size: 1.5rem;
    font-family: 'McLaren', cursive;
}

.about {
  font-size: .8rem;
}

.footer {
  text-align: center;
}

/* spinner */
.spinner-container {
  height: 90vh;
  text-align: center;
}

.spinner {
  top: 30vh;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ff5252;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}